<div fade-in="200" id="home-div" ng-controller="HomeCtrl" class="col-sm-12">
  <div>
    <div id="big-slide-div" class="col-sm-12">
      <a href="" ng-click="slideLeft()" class="next-btn left" ng-hide="isFirstIndex()">
        <i class="fa fa-angle-left fa-5x"></i>
      </a> 
      <div class="big-slide-holder" ng-style="slideHolderStyle || setSlideHolderStyle()">
        <div ng-repeat="currentEvent in currentEvents" ng-style="currentEvent.style || setCurrentEventStyle(currentEvent)" class="current-event">
          <h1 class="text-1 brandon light">{{currentEvent.title}}</h1>
          <h4 class="light open-sans">{{currentEvent.content}}</h4>
        </div>
      </div>
      <a href="" ng-click="slideRight()" class="next-btn right" ng-hide="isLastIndex()">
        <i  class="fa fa-angle-right fa-5x"></i>
      </a> 
    </div>


    <div id="featured-bikes-div" class="col-sm-12 row">
      <h3 class="page-title brandon">Featured Bikes:</h3>
      <div ng-repeat="bike in featuredBikes" class="bike-listing index-{{ $index }} col-sm-4">
        <a id="show_bike_{{bike.id}}" class="show-bike" ng-href="/#/bikes/{{bike.id}}">
          <div class="info-div col-sm-12">
            <h2 class="{{bike.kind.toLowerCase()}} brandon">{{bike.year}} {{bike.brand}} {{bike.model}}</h2>
            <div class="img-holder">
              <img ng-src="{{bike.imageUrl}}" class="col-sm-12 bike-index-img"/>
            </div>
            <h4 class="bike-price brandon">${{bike.price}}</h4>
            <div class="bike-description open-sans">{{bike.description.split(".")[0]}}</div>
          </div>
        </a>
      </div>
    </div>

    <div id="brands" class="">
      <h3 class="page-title brandon">Brands We Carry:</h3>
      <div class="brands-div row">
        <div ng-repeat="brand in brands" class="brand-image-div index-{{ $index }} col-sm-2">
          <img class="brand-img col-sm-12" src="assets/brands/{{brand}}.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
