<!-- <div id="welcome-div">
	<div id="welcome-text" class="col-sm-12">
		<h3>
			
		</h3>
	</div>
</div> -->
<div id="home-div" class="row">
	<div>
		<div id="current-events-div">
			<h3 class="page-title">Latest News:</h3>
			<div class="current-event" ng-repeat="currentEvent in currentEvents">
				<h3>{{currentEvent.title}}</h3>
				<div class="img-holder">
					<img ng-src="{{currentEvent.imageUrl}}"/>
				</div>
				<h4>{{currentEvent.content}}</h4>
			</div>
		</div>

		<div id="featured-bikes-div" class="">
			<h3 class="page-title">January Bikes on Sale:</h3>
			<a class="brick product-brick" ng-repeat="bike in bikes" id="show_bike_{{bike.id}}" href="/#/bikes/{{bike.id}}" >
				<h3>
					<span class="product-title-text">{{bike.year}} {{bike.brand}} {{bike.model}}</span>
					<span class="flag">${{bike.price}}</span>
				</h3>
				<div class="img-holder">
					<img ng-src="/assets/{{bike.imageUrl}}" class="bike-index-img"/>
				</div>
				<h4>{{bike.description}}</h4>
			</a>
		</div>
	</div>
</div>