<div fade-in="200" id="rentals-div" ng-controller="RentalsCtrl">

	<div class="col-sm-6 col-sm-offset-2 modal-div" id="confirmation-step" modal-slide-down="showConfirmation">
		<div class="hide-modal-div pull-right col-sm-1">
			<a class="pull-right" href="" ng-click="showConfirmation = false"><i class="fa fa-times-circle-o fa-2x"></i></a>
		</div>

		<div class="col-sm-12">
			<h1 class="step-header">Rental Confirmation</h1>
			<h3>Confirmation Number: <span class="light-text"> {{ rental.id }} </span></h3>
			<h3>Location: <span class="light-text"> {{ rental.location }} </span></h3>
			<h3>Date: <span class="light-text"> {{ rental.date }} </span></h3>
			<h3>Time: <span class="light-text"> {{ rental.time | date: 'shortTime'}} </span></h3>
			<h3>Customer Name: <span class="light-text"> {{customer.firstName}} {{customer.lastName}} </span></h3>
			<h3 ng-repeat="rentalBike in rental.rentalBikes">Bike {{ $index + 1 }}: <span class="light-text">Size {{ rentalBike.size }}, Kind {{ rentalBike.kind }} </span></h3>
		</div>
	</div>

	<div class="col-sm-12">
		<div opacity-down="showConfirmation" opacity-up="hideConfirmation" class="col-sm-12 new-header photo-header">
			<h1> Rentals</h1>
		</div>
	</div>
	<div class="row">
		<div opacity-down="showConfirmation" opacity-up="hideConfirmation" class="col-sm-12 section-description">
			<div class="col-sm-12">
				<h2> Each Big Wheel store has its own fleet of rental bikes, and is proximate to a bike path.  Want to beat the weekend rush?  Reserve your rental online!</h2>
			</div>
		</div>
	</div>

	<div opacity-down="showConfirmation" opacity-up="hideConfirmation" class="steps-div col-sm-6">
		<div class="col-sm-12 rental-step" id="customer-step">
			<div class="overlay"></div>
			<h1 class="step-header">Reserve a Rental</h1>
			<form novalidate name="rentalForm" class="form-horizontal css-form">
				<div class="form-group">
					<div class="col-sm-12">
						<h3 class="section-label">Customer Info</h3>
					</div>
					<div class="col-sm-6">
						<input type="text" placeholder="First Name" class="form-control col-sm-12" ng-model="customer.firstName" required/>
					</div>
					<div class="col-sm-6">
						<input type="text" placeholder="Last Name" class="form-control col-sm-12" ng-model="customer.lastName" required/>
					</div>
					<div class="col-sm-6">
						<input type="email" placeholder="Email" class="form-control col-sm-12" ng-model="customer.email" required/>
					</div>
					<div class="col-sm-6">
						<input type="tel" placeholder="Phone Number" class="form-control col-sm-12" ng-pattern="/^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$/" ng-model="customer.phone_number" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<h3 class="section-label">Where and When?</h3>
					</div>
					<div class="col-sm-4">
						<select ng-model="rental.location" ng-options="location for location in locationNames" class="form-control col-sm-12 placeholder location" required>
							<option value="" disabled selected>Location</option>
						</select>
					</div>
					<div class="col-sm-4">
						<input ng-model="rental.date" ui-date ui-date-format="m/d/y" ng-change="rental.date = rental.date.toString()" type="text" placeholder="Date" class="form-control col-sm-12"  required/>
					</div>
					<div class="col-sm-4">
						<select ng-model="rental.time" class="placeholder form-control col-sm-12 time" ng-options="time for time in startTimes | time">
							<option value="" class="starting" disabled selected>Time</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<h3 class="section-label">Number of Bikes</h3>
						<h4><i>Note: Online rental reservations are only offered for our basic rentals.  For premium road, triathlon, or mountain bike rentals, please send an email to mike@bigwheelbikes.com or call (202)-320-9730.</i></h4>
					</div>
					<div class="col-sm-4">
						<h4 class="quantity-header">Hybrid/Comfort</h4>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.basicQuantitiesSmall" ng-pattern="/\b\d\b/" placeholder="S" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.basicQuantitiesMedium" ng-pattern="/\b\d\b/" placeholder="M" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.basicQuantitiesLarge" ng-pattern="/\b\d\b/" placeholder="L" class="form-control col-sm-12 quantity-input" />
						</div>
					</div>
					<div class="col-sm-4">
						<h4 class="quantity-header">Mountain</h4>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.roadQuantitiesSmall" ng-pattern="/\b\d\b/" placeholder="S" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.roadQuantitiesMedium" ng-pattern="/\b\d\b/" placeholder="M" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.roadQuantitiesLarge" ng-pattern="/\b\d\b/" placeholder="L" class="form-control col-sm-12 quantity-input" />
						</div>
					</div>
					<div class="col-sm-4">
						<h4 class="quantity-header">Road</h4>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.mountainQuantitiesSmall" ng-pattern="/\b\d\b/" placeholder="S" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.ountainQuantitiesMedium" ng-pattern="/\b\d\b/" placeholder="M" class="form-control col-sm-12 quantity-input" />
						</div>
						<div class="col-sm-4 quantity-input-div">
							<input ng-model="rental.ountainQuantitiesSmallLarge" ng-pattern="/\b\d\b/" placeholder="L" class="form-control col-sm-12 quantity-input" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<h3 class="section-label">Additional Comments</h3>
					</div>
					<div class="col-sm-12">
						<textarea placeholder="Anything else we should know about your rental? Drop us a line!" class="form-control comments"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button  ng-disabled="rentalForm.$invalid" type="submit" class="btn btn-default" ng-click="saveRental()">Submit Reservation</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="rentals-prices-div pull-left">
			<div class="header-div">
				<h1 class="step-header">Rental Rates</h1>
			</div>
			<div class="">
				<div class="sub-category-header">
					<h3><b>Basic Rentals</h3>
					<h4><b>Hybrid and Mountain Bikes: </b> $7.00 per hour or $35.00 per day</h4>
					<h4><b>5-day Rate:</b> Daily Rate x 4</h4>
					<h4><b>7-day Rate:</b> Daily Rate x 5</h4>
					<h4><b>Monthly Rate:</b> $250.00</h4>
					<h4> There is a 3-hour minimum on all basic rentals.</h4>

					<h3><b>Premium Rentals</b></h3>
					<h4> <b>Mountain Bikes (29er and Full Suspension):</b> $50.00 per day</h4>
					<h4> <b>Road Bikes:</b> $50.00, $75.00, or $100.00 per day</h4>
					<h4> <b>Tri Bikes:</b> $75.00 or $100.00 per day</h4>
					<h4> <b>24-Hour Rate:</b> 1.5 X Daily Rate</h4>
					<h4> <b>Weekend Rate (Friday-Sunday): </b> 2.5 X Daily Rate</h4>
					<h4> <b>Weekly Rate:</b> $150.00 for road and $200 for tri</h4>
					<h4> <b>Monthly Rate:</b> Contact Us</h4>
					<h4>Our standard, level 1 road bike rental includes integrated shifters and spd pedals upon request. Or we’ll  install your  own pedals.  Level 2 road bike rentals  are equipped with an aluminum/carbon frame and  Shimano Tiagra components or better. Level 3 rentals have full carbon frames and Shimano 105 components or better.  Our standard tri bike rental includes tri bars, an aluminum frame, and bar-end shifters, Deluxe tri rentals have full carbon frames and Shimano 105 components or better. With all tri rentals, we’ll provide spd pedals upon request or install your own pedals.</h4>

					<h3><b>Miscellaneous Rentals</b></h3>
					<h4><b>Kids Bike:</b> $5.00 per hour and $25.00 per day</h4>
					<h4><b>Tandem:</b> $50.00 per day</h4>
					<h4><b>Bike with Baby Seat:</b> $50.00 per day</h4>

					<h3><b>Group Rentals</b></h3>
					<h4>We can accommodate and welcome large rentals groups. Discounts are available depending on the size of the group. We will customize the bikes to the sizes and individual preferences of the riders. Reservations are required. Contact us.</h4>

					<h4><i> Other Terms: Renters must leave i.d. during the term of the rental and must sign a rental agreement. Daily rental rates are based on store hours. Overnite charge is $10.00</i></h4>
					</div>
				</div>
			</div>
		</div>
	</div>