<div class="container" id="new-current-events-div" ng-controller="CurrentEventsCtrl">
	<div class="col-sm-12">
		<div class="col-sm-5">
			<form name="form" novalidate class="form-horizontal has-errors col-sm-12 css-form">
				<h1>Create New Post </h1>
				<div class="form-group">
					<div class="col-sm-12 input-div">		
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<input type="hidden" value="" id="imageUrlInput"/>
							<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file btn-default"><span class="fileupload-new">Add an Image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</div>
						</div>		
					</div>
				</div>	



				<div class="form-group">
					<label class="col-sm-12">Title:</label>
					<div class="col-sm-12 input-div">
						<input type="text" class="form-control col-sm-12" ng-model="currentEvent.title" required/>
					</div>
				</div>
                                <div class="form-group">
					<label class="col-sm-12">Title Text Color:</label>
                                        <div class="col-sm-12 input-div">
                                                <select ng-model="currentEvent.color" ng-options="color.value as color.name for color in colors" class="form-control col-sm-12" required>
                                                        <option value="">Select A Color</option>
                                                </select>
                                        </div>
                                </div>
				<div class="form-group">
					<label class="col-sm-12">
						<span class="pull-left">Content: </span>
						<span ng-show="form.content.$error.length" class="error-message col-sm-10 pull-left">Post Length Must be Less than 600 Characters.  Length is Currently {{  currentEvent.content.length }} Characters</span>
					</label>

					<div class="col-sm-12 input-div">
						<textarea ng-validate-length="600" class="form-control col-sm-12" rows="10" cols="80" name="content" ng-model="currentEvent.content" required></textarea>
					</div>
				</div>
                                <div class="form-group">
                                        <label class="col-sm-12">Content Text Color:</label>
                                        <div class="col-sm-12 input-div">
                                                <select ng-model="currentEvent.contentColor" ng-options="color.value as color.name for color in colors" class="form-control col-sm-12" required>
                                                        <option value="">Select a Color</option>
                                                </select>
                                        </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-sm-12">Content Background Color:</label>
                                        <div class="col-sm-12 input-div">
                                                <select ng-model="currentEvent.backgroundColor" ng-options="color.value as color.name for color in backgroundColors" class="form-control col-sm-12" required>
                                                        <option value="">Select a Color</option>
                                                </select>
                                        </div>
                                </div>

				<div class="form-group">
					<div class="col-sm-12 input-div">
						<button  flash-btn="postCreated" flash-failure="Error!" flash-waiting="Saving Post..." flash-success="Saved!" id="create-post-btn" class="btn btn-primary" ng-disabled="form.content.$error.length" ng-click="save(currentEvent)">Save Post</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-7" id="edit-current-events-div">
			<h1> View or Edit Old Posts </h1>
			<div class="col-sm-10">
				<loader ng-show="showLoader"/>
			</div>
			<div class="edit-current-event row" ng-repeat="currentEvent in currentEvents">
				<div class="col-sm-4 post-date"><h4>{{currentEvent.createdAt| date:'short'}}</h4></div> 
				<div class="col-sm-6 post-title"><h4>{{currentEvent.title}}</h4></div>
				<div class="col-sm-1 post-delete"><h4><trash-icon delete-target=".edit-current-event" delete-method="delete(currentEvent)"/></h4></div>
				<div class="col-sm-1 post-edit"><h4><edit-icon edit-method="show(currentEvent)"/></h4></div>
			</div>
		</div>
	</div>
</div>
