#admin-container {
	#header-div {
		margin-left: 10px;
	}
	.admin-link-div {
		text-decoration: none;
		.admin-link {
			height: 200px;
			background: #E4E0E9;
			padding: 40px;
			box-sizing: border-box;
			margin: 10px;
			&:hover {
				background: rgba(252, 242, 0, 0.8);
			}
		}
	}
	
}