#admin-container {
        #header-div {
                margin-left: 10px;
        }
        .admin-links-holder-div {
                margin-top: 20px;
                .admin-link-div {
                        padding: 15px;
                        text-decoration: none;
                        .admin-link {
                                height: 200px;
                                background: #E0E0E9;
                                color: grey;
                                box-shadow: 2.2px -2px 0.5px 2px rgb(208, 208, 208);
                                padding: 40px;
                                box-sizing: border-box;
                                &:hover {
                                        color: gainsboro;
                                        background: #515151; 
                                        box-shadow: 2.2px -2px 0.5px 2px #7B7B7B;
                                }
                        }
                }
        }
}
button {
  border: none !important;
  &.muted {
    background: grey !important;
  }
}

i.muted {
  color: grey;
  &:hover {
    color: #5cb85c;
  }
}

i.selected {
  color: #5cb85c;
}
