$bwb-red: #d71f28;
$bwb-yellow: #fced00;

#bikes-div{

  min-height: 1000px;
  .container{
    padding-top: 50px;
  }

  .new-header {

    background: url("/assets/headers/new.jpg" ) 0px -200px;

  }

  #filter-div {
    .filter-div-inner {
     margin: 40px 0;
   }
   h2 {
    font-size: 22pt;
    font-weight: bold;
  }

  h4{
    font-size:16pt;
  }

  input {
    height: 60px;
    font-size: 20pt;
    border-radius: 0;
  }
}


}

.alert.flash{
	position: absolute;
	top: 50px;
	left: 0%;
	margin-bottom: 2%;
	width: 100%;
}

#img-holder{
	// width: 100%;
	// height: 100%;
	overflow: hidden;
}

.preview-img{
	height: 195px;
	margin-bottom: 5px;
}

.image-controls{
	// display:none;
}

#image-preview-div{
	height: 400px;
}

#image_preview_main{
	overflow: hidden;
  .current-image-display-div {
    .display{
      font-size:15pt;
    }
    .btn.back, .btn.next {
      border: 2pt solid #333;
    }
  }


}

.image_results{
	height: 100%;
}

.sim-image{
	height: 80px;
	width: auto;
}

.new-div{

	h4{
		color: grey;
	}
	label{
		margin-right: 5px;
		input[type="radio"]{
			opacity: 0 !important;
			width: 0px;
		}
		&.selected{
			background: rgba(196, 196, 196, 0.73);
		}
	}

}

#submit-div{
	margin-top: 10%;
	text-align: center;
	button{
		padding: 3.5%;
		background: transparent;
		img{
			width: 100px;
			float: left;
			opacity: 0.6;
			&:hover{
				opacity: 0.9;
			}
		}
	}

}

.bike-listing{
  &.ng-hide-remove {
    -webkit-animation: bounceIn 0.5s;
    -moz-animation: bounceIn 0.5s;
    -ms-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
  }

  &.ng-hide-add {
    opacity: 1.0;
    display: block !important;
    transition: opacity 0.5s;
    -webkit-animation: bounceOut 0.5s;
    -moz-animation: bounceOut 0.5s;
    -ms-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
  }

  &.ng-hide-add-active {
    opacity: 0;
  }

  box-sizing: border-box;
  padding: 0 2%;
  padding-right: 0;
  &.index-0, &.index-3, &.index-6 {
    margin-right: 0%;
    margin-left: -2%;
  }
  &.index-1, &.index-4, &.index-7 {
    margin: 0 1%;
  }
  a.show-bike{
    text-decoration: none;
    .info-div{
      color: rgb(12, 11, 11);
      z-index: 2;
      overflow: hidden;
      height: 400px;
      padding: 0;
      h2{
        background: #161e27;
        padding: 4%;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 16pt;
        float: left;
        width: 100%;
        font-weight: bold;
      }

      .img-holder {
        height: 180px;
        overflow: hidden;
        width: 100%;
        float: left;
        img {
          width: 150%;
          display: block;
          margin: 0 auto;
          z-index: -1;
          background: #f3f3f3;
          left: -70px;
          top: -50px;
        }
      }

      .bike-description {
        color: white;
        background: #6c7a89;
        padding: 4%;
        font-size: 12pt;
        // letter-spacing: 1px;
        width: 100%;
        float: left;
        font-weight: bold;
        line-height: 20pt;
      }

      .bike-price {
        padding: 2%;
        margin: 0;
        margin-top: 65px;
        z-index: 1;
        color: white;
        font-size: 16pt;
        width: 20%;

        position: absolute;
        background: $bwb-red;

      }

    }
  }
}

#bike-show{
  h2, h3, h4{
    // background: white;
  }
  h1 {
    font-size: 30pt;
    font-weight: bold;
    color: #d71f28;
  }

  h2 {
    font-size: 22pt;
    font-weight: bold;
  }

  h4 {
    font-size: 15pt;
  }

  .headline {
    font-weight: bold;
  }

  .sim-div {
    a {
      text-align: center;
      font-weight: lighter;
      // background: #CCCCCC;
      border: 2pt solid #333;
      border-radius: 4px;
      margin: 2%;
      box-sizing: border-box;
      padding-top: 2%;
      img {
        padding-left: 0%;
      }
      h5 {
        font-weight: bold;
        color: #333;
      }
    }
  }

  .availability-div {
    background: #1799dd;
    padding: 2%;
    color: white;
    border-radius:4px;
    margin-top: 40px;
    h2 {
      font-weight: bold;
      margin-top: 0;
    }
    .location-name {
      // line-height: 30pt;
      vertical-align: middle;
    }
    .availability-size{
     margin-left: 2%;
     background: transparent;
     color: white;
     font-size: 10pt;
     margin-top: 0px;
     border: 2pt solid white;
   }
 }


 .stats-div, .specs-div {
  // background: #1799dd;
  // padding: 2%;
  // color: white;
  // border-radius:4px;
  margin-left: -2%;


  .fa-star-o {
    font-weight: bold
  }
  h4 {
    margin-top: 0px;
    font-size: 18pt;
  }
}
}

#loader-container{
  position: fixed;
  width: 100% !important;
  height: 100%;
  z-index: 1000;
  padding: 0%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  #loader-div{
   position:absolute;
   width: 5%;
   left: 45%;
   top: 40%;
   display: block;
   img{
    position:relative;
    width: 100%;
  }
}
}
